body{
  background-color: rgb(4, 69, 50);
  text-align: center;
}

h1{
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  text-transform: uppercase;
}

.toDoList{
  align-items: center;
  justify-content: center;

}

 div input[type="text"]{
  color: #ffffff;
  background: none;
  border: 2px solid #827f7f;
  border-radius: 10px;
  padding: 15px 22px;
}

.addBtn{
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: cursive;
  font-style: italic;
  margin-left: 10px;
  padding: 12px 20px;
  background-color: rgb(0, 25, 17)
}

.not-checked-item{
  color: #ffffff;
  font-size: x-large;
  align-items: center;
  justify-content: center;
}

.checked-item {
  text-decoration: line-through;
  color: #ffffff;
  font-size: x-large;
  align-items: center;
  justify-content: center;
}

.delBtn{
  color: rgb(155, 36, 36);
  margin-left: 10px;
  font-size: large;
  margin-bottom: -1px;
}

.upBtn{
  color: rgb(185, 255, 234);
  margin-left: 10px;
  font-size: larger;
  margin-bottom: -1px;
}

.downBtn{
  color: rgb(174, 174, 174);
  margin-left: 10px;
  font-size: larger;
  margin-bottom: -2px;

}

